.parallax-scrolling-section {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
        url(https://storage.googleapis.com/vue-course-api.appspot.com/alfred-shop-demo/1712146756076.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=TLkHsL8XsQxI2ZJXb3aCHE1GKD00KzlTC9tE9wq1feijUbiKlCZfX2wwfpoML2Sw557Xeb%2F6OtSBrA5MM7TZIg6Mz8dem3VwjxXfdoI%2BmPGmlbUNfT2NhWFuZ9MPX6Q4WCoFumxpGMt2yD8RqZn18g5n7seKbE18x7jX%2FPstW5ihZdCwBeijef9BiHc3AHneFs9K0aiK6trCcnifBNtpTBSEwfFm%2BI816l%2BEA4qlWR4%2Fv%2F8wcdZT9uqoE5FevVEuwxZQppMfgtftyRMDoFNR7Z0m%2FFp6Lp1Ok%2BG%2Fle1F%2BnDn9aR3ghEZD6uG5wx8dYzOlciSSyc33KzN7YKwyMSiNg%3D%3D)
            no-repeat 50% / cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}
