.parallax-scrolling-section {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
        url(https://storage.googleapis.com/vue-course-api.appspot.com/alfred-shop-demo/1712158247365.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=ERy65Mun%2BwWNR60zRSDPjAYmA7wGJ%2B4OrmVKP%2FCJQlSwsnHHSi2figDxATPzcyvTGAUFrxiEsIoxaLOCxhhNdQ%2FOeDiW%2F6YRZD6oOBXknY6MxX0OGz4%2FT36XMNAFW%2FubZ3ySsBy2ZtQcAqRedEjx3%2BHcmw4pdBlSk2WI44ZzwBEredxzohZz0snAlEAwFKcat1M59%2BjBr0JiklEINnKitWzOPN8rHn6KuIh5l3X1gg6zkJqukCWJn9skyXPfecAzDM5SUIQ3Rqdp4pwBx39pWLHIBFTaQNqfSYOs90Q%2FJTcPRtEX30%2B0F6u5E6Xf1la2LBvYbm7dohqfeLxjCGUYtA%3D%3D)
            no-repeat 50% / cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}
