@import "bootstrap/scss/functions";

@import "../../styles/variables";

.steps {
    display: flex;
    list-style: none;
    padding-left: 0px;
    justify-content: space-between; /* 按水平均匀分布，行首行尾两端靠齐 */
    margin: 0;
    counter-reset: steps; /* 声明counter变量，名为 steps */
}

.step {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    &:before {
        content: "";
        width: 2.5rem;
        height: 2.5rem;
        background: $gray-500;
        border-radius: 50%;
        margin: 1rem;
        display: block;
        counter-increment: steps;
        content: counter(steps);

        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        z-index: 10;
    }

    &:nth-child(n + 2) {
        &:after {
            content: "";
            height: 0.3rem;
            width: 100%;
            background: #bcbcbc;
            position: absolute;
            left: -50%;
        }
    }

    &.active {
        &:before {
            background-color: $primary;
        }
        &:nth-child(n + 2) {
            &:after {
                background-color: $primary;
            }
        }
    }
}

.step-detail {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
}
