.break-all {
    word-break: break-all;
}

.img {
    width: 60px;
    height: 40px;
}

.pre {
    text-wrap: wrap;
    text-align: start !important;
    word-break: break-word;
    font-family: "Noto Sans TC", sans-serif;
}
