.slider {
    max-height: 778px;
    overflow: hidden;
    margin: 0 auto;
    @media (min-width: 768px) {
        max-height: auto;
    }
}

.slides {
    animation: slide 15s infinite;
    animation-delay: 3s;
    @media (min-width: 768px) {
        animation: slide 12s infinite;
        animation-delay: 3s;
    }
}

.slide {
    @media (min-width: 768px) {
        margin-right: 30px;
    }
    margin-bottom: 30px;
    &:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
        cursor: pointer;
    }
}

.img {
    height: 300px;
    width: 100%;
    @media (min-width: 768px) {
        width: 212px;
        height: 250px;
    }
    @media (min-width: 992px) {
        width: 292px;
    }
    @media (min-width: 1200px) {
        width: 352px;
    }
    @media (min-width: 1400px) {
        width: 412px;
    }
    object-fit: cover;
}

.h4 {
    height: 30px;
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-404px);
    }
    40% {
        transform: translateY(-808px);
    }
    60% {
        transform: translateY(-1212px);
    }
    80% {
        transform: translateY(-1616px);
    }
    100% {
        transform: translateY(0);
    }
}

@mixin slide-keyframes($offset) {
    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX($offset);
        }
        50% {
            transform: translateX($offset * 2);
        }
        75% {
            transform: translateX($offset * 3);
        }
        100% {
            transform: translateX(0);
        }
    }
}

@media (min-width: 768px) {
    @include slide-keyframes(-242px);
}

@media (min-width: 992px) {
    @include slide-keyframes(-322px);
}

@media (min-width: 1200px) {
    @include slide-keyframes(-382px);
}

@media (min-width: 1400px) {
    @include slide-keyframes(-442px);
}
